.item_fields
{
    width:515px;
}

.item_fields_left
{
    float:left;
    padding-top:5px;
    text-align:right;
    width:110px;
}

.item_fields_right
{
    float:right;
    width:400px;
}